<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='index'> Accueil </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='stagiaire/john/wick'> Stagiaire </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='adresse'> Adresse </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='formulaire'> Formulaire </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='reactive-form'> ReactiveForm </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='personne'> Personnes </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='vehicule/camion'> Camion </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='vehicule/voiture'> Voiture </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='pere'> Pere </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='parent'> Parent </a>
    </li>
    <li class="nav-item" routerLinkActive=a ctive>
      <a class="nav-link" routerLink='observable'> Observable </a>
    </li>
  </ul>

  <div *ngIf=isConnected()>

      <a class="nav-link" (click)='logout()'> Logout</a>
 
  </div>
</nav>
<router-outlet></router-outlet>